html {
  font-family: "Computer Modern Serif", serif;
}

section {
  border-bottom: 1px solid;
}

#email {
  height: 40px;
  margin: 5px;
}

.web-icon:not(#email) {
  height: 40px;
  width: 40px;
  margin: 5px;
  overflow: hidden;
  object-fit: cover;
}

/* #social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

#name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
#chinese_name {
  height: 60px;
}

.profile-image a {
  float: left;
  max-width: 135px;
  max-height: 135px;
  margin-right: 20px;
  content: url(../img/Tony-in-suit.jpg);
}

.highlight {
  padding: 10px;
  margin-top: 0;
  text-align: left;
  background-color: #f1f1f1;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}

.album-element {
  display: inline-block;
  margin: 20px;
}

.album-element img {
  height: 200px;
}

.language-icon {
  display: inline;
  margin: 5px;
  height: 50px;
}

blockquote{
  font-style: italic;
}

h3,h4,h5 {
  margin-bottom: -4px;
}
